body {
    padding-top: 50px;
    padding-bottom: 20px
}

.body-content {
    padding-left: 15px;
    padding-right: 15px
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

#qrCode {
    margin: 15px
}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none
    }
}

a.brand {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 23px;
    color: #9d9d9d
}

.menu-item {
    color: #9d9d9d;
    position: relative;
    padding: 10px 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px
}

.menu {
    background-color: #222;
    border-color: #080808;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px
}

footer {
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ddd;
    color: #555
}
