@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <th>Category</th>
        <th>Topic</th>
        <th></th>
        <th></th>
    </tr>
    
    <tr>
        <td>Cars</td>
        <td>Parking</td>
        <td><button type="button" class="btn btn-info">Edit</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    
    <tr>
        <td>Cars</td>
        <td>Delegacje</td>
        <td><button type="button" class="btn btn-info">Edit</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    
</table>