
<h3>Contact page</h3>

<p>
    Arkadiusz Pachucy <br />
    Jakub Sirek <br />
    Kamil Markuszewski <br />

</p>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
